
{% extends "base.html" %}
{% block content %} 

<div class="container" my-3>

    <h1>TODOS</h1>
    <a href="/todo/create">Create To-Do</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">Description</th>
            <th scope="col">Done</th>
            <th scope="col">Action</th>
            
          </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>{% if todo.done %}Yes{% else %}No{% endif %}</td>
            
          
            
            <td>
            <td><a href="/todo/edit/{{ todo.id }}" class="btn btn-warning btn-sm mx-1">Edit</a></td>
            <td><a href="/todo/delete/{{ todo.id }}" class="btn btn-danger btn-sm mx-1">Delete</a></td>
            
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    
</div>


 {% endblock content %}
